@model Auth.Models.Test

@{
    ViewBag.Title = "Secret";
}

<h2>Secret</h2>
<Form method="post" action="/Test/checkpass">
    @if (TempData["Error"] != null)
    {
        <p class="text-danger">@TempData["Error"]</p>
    }
    <input type="password" name="pass" />
    <button class="btn btn-success">Submit</button>
</Form>
